.navbar {
  position: relative;
  margin-top: 20px;
  display: flex;
  height: 35%;
  width: 100%;
  justify-content: flex-end;
}

/* Hamburger Button Styles */
.hamburger {
  display: none; /* Initially hide the button */
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #a4906f;
  margin: 5px 0;
  transition: transform 0.2s ease-in-out;
}

/* Menu Styles */
.menu {
  list-style: none;
  display: flex;
  padding: 0;
}

.menu-item {
  padding: 10px;
  margin: 0 30px;
  color: #a4906f;
  cursor: pointer;
  font-size: 23px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.5) translateY(-5px);
}

/* Media Query for Hamburger Menu */
@media (max-width: 768px) {
  .hamburger {
    display: block; /* Show the button */
  }

  .menu {
    display: none; /* Initially hide the menu items */
    flex-direction: column;
    background: #fff3e3;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
  }

  .menu.open {
    display: flex; /* Show the menu items when open */
    width: 145px;
    z-index: 100;
    mix-blend-mode: darken;
  }

  .line.open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .line.open:nth-child(2) {
    transform: scale(0);
  }

  .line.open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .menu-item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1px;
  }
  .menu-item:hover {
    transform: scale(1.5) translateY(-5px) translateX(-30px);
  }
}
